<header>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline top-menu__menu-left">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" action="@Url.Action("Logoff", "Account")">
                                    @Html.AntiForgeryToken()
                                    <a href="#" onclick="$(this).parent('form').submit(); return false;">Выход</a>
                                </form>
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Account")">Вход в аккаунт</a>
                            }
                        </li>
                        <li>
                            <a href="#">Регистрация</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="top-menu__btn-panel">@User.Identity.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ul class="list-unstyled list-inline top-menu__menu-right">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="top-body__logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img alt="leavingrussia.ru" src="~/content/static/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="top-body__partners">
                        <img src="/content/static/temp/banner-header1.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
