<header>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline top-menu__menu-left">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" action="@Url.Action("Logoff", "Account")">
                                    @Html.AntiForgeryToken()
                                    <a href="#" onclick="$(this).parent('form').submit(); return false;">Выход</a>
                                </form>
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Account")">Вход в аккаунт</a>
                            }
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Account")">Регистрация</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="top-menu__btn-panel">@User.Identity.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        @Html.Action("ForHeader", "SiteNets")
                        <ul class="list-unstyled list-inline top-menu__menu-right">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="top-body__logo">
                        <a href="@Url.Action("Index", "Home")">
                            @{
                                var logo = SX.WebCore.MvcApplication.SxMvcApplication.SiteSettingsProvider[SX.WebCore.Resources.Settings.siteLogoPath]?.Value;
                                var siteName = SX.WebCore.MvcApplication.SxMvcApplication.SiteSettingsProvider[SX.WebCore.Resources.Settings.siteName]?.Value ?? SX.WebCore.MvcApplication.SxMvcApplication.DefaultSiteName;
                                if (!string.IsNullOrEmpty(logo))
                                {
                                    <img alt="@siteName" src="@Url.Action("Picture", "Pictures", new { id= logo })" />
                                }
                                else
                                {
                                    <img alt="@siteName" src="/content/static/logo.png" />
                                }
                            }
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    @{
                        var banners = global_asax.BannerProvider.GetPageBanners(Request.RawUrl);
                        var topBanner = banners.FirstOrDefault(x => x.Place == SX.WebCore.DbModels.SxBanner.BannerPlace.Top);
                        if (topBanner != null)
                        {
                            <div class="top-body__banner-top">
                                <img alt="@siteName" src="@Url.Action("Picture", "Pictures", new { id = topBanner.PictureId })" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
