@{ 
    Layout = null;
    var withoutBodyControllers = new string[] { "account" };
    var routeDataValues = Request.RequestContext.RouteData.Values;
    var controller = routeDataValues["controller"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title == null ? "leavingrussia.ru" : ViewBag.Title + " | leavingrussia.ru")</title>

    <link href="~/content/dist/css/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Navbar")
        @RenderSection("full", false)
        @if (!withoutBodyControllers.Contains(controller))
        {
        <div class="container">
            <div class="block">
                <div class="block__left">
                    @RenderBody()
                </div>
                <div class="block__right">
                    @Html.Partial("_AboutUs")
                    @Html.Partial("_JoinUs")
                    @Html.Action("Last", "Pictures", new { amount = 10 })
                    @Html.Action("Last", "Articles", new { amount = 5 })
                    @Html.Action("Categories", "Articles")
                </div>
            </div>
        </div>
        }
        @Html.Partial("_PreFooter")
        @Html.Partial("_Footer")
    </div>
    <script src="~/content/dist/js/site.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>