@model VMMaterial[]
@{
    VMMaterial item = null;
}

@if (Model.Any())
{
    <div class="like-materials">
        <div class="text-center">
            <h4 class="two-arrow-header">
                <span>Похожие материалы</span>
            </h4>
        </div>
            <div class="row">
                @for (int i = 0; i < Model.Length; i++)
                {
                    item = Model[i];
                    <div class="col-md-4">
                        <div class="like-material">
                            <div class="like-material__img" style="background-image:url('@Url.Action("Picture", "Pictures", new { id=item.FrontPictureId})')">
                                <a href="@item.GetUrl(Url)"></a>
                            </div>
                            <h3 class="like-material__title">
                                <a href="@item.GetUrl(Url)">@item.Title</a>
                            </h3>
                            <div class="like-material__date">
                                @item.DateOfPublication.ToString("MMMM d, yyyy")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
}
