@model SxVMRegister
@{
    ViewBag.Title = "Регистрация";
}

@section styles{
    <style>
        .register-form {
            text-align: center;
        }

        .register-form__header {
            margin: 30px 0;
            text-transform: uppercase;
            font-family:'PT Sans Narrow', sans-serif;
        }

        .register-form__form {
            width: 400px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }

            .register-form__form .btn {
                width: 100%;
                padding: 10px 0;
            }

        .field-validation-error {
            text-align: left;
            display: block;
        }

        .validation-summary-errors{
            margin-bottom:15px;
        }

        .validation-summary-errors ul{
            list-style:none;
            padding:0;
            margin:0;
        }
    </style>
}

@section full{
    <div class="register-form">
        <h2 class="register-form__header">@ViewBag.Title</h2>

        <form method="post" action="@Url.Action("Register", "Account")" class="register-form__form" autocomplete="off">
            @Html.ValidationSummary()

            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.EditorFor(x => x.NikName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Имя..." } })
                @Html.ValidationMessageFor(x => x.NikName)
            </div>

            <div class="form-group">
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="form-group">
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пароль..." } })
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <div class="form-group">
                @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Повторите пароль..." } })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>

            <div class="form-group">
                <button type="submit" class="btn">Создать аккаунт</button>
            </div>

            <div class="form-group">
                <p class="text-muted">У Вас уже есть аккаунт?</p>
                <a href="@Url.Action("Login", "Account")" class="btn">Войти</a>
            </div>
        </form>
    </div>
}