@model VMArticle[]
@{
    VMArticle item = null;
}

@if (Model.Any())
{
    <div class="home-materials">
        @for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            <div class="home-material @(i==0?"first":null)">
                <div class="home-material__img">
                    @if (i == 0)
                    {
                        <img alt="" src="@Url.Action("Picture", "Pictures", new { id=item.FrontPictureId})" />
                    }
                    else
                    {
                        <a href="@item.GetUrl(Url)" style="background-image:url('@Url.Action("Picture", "Pictures", new { id=item.FrontPictureId})');"></a>
                    }
                </div>
                <div class="home-material__content">
                    @if (item.Category != null)
                    {
                        <div class="home-material__category">
                            <a href="@Url.Action("List", "Articles", new { cat=item.Category.Id})">@item.Category.Title</a>
                        </div>
                    }
                    <div class="home-material__title"><h2><a href="@item.GetUrl(Url)">@item.Title</a></h2></div>
                    @if (item.User != null)
                    {
                        <div class="home-material__author">
                            <i>Автор: <a href="@Url.Action("List", "Articles", new { aut=item.User.NikName})">@item.User.NikName</a></i>
                            @if (i != 0)
                            {
                                <i class="home-material__date">@item.DateOfPublication.ToString("MMMM d, yyyy")</i>
                            }
                        </div>
                    }
                    <div class="home-material__html">
                        @(Html.Raw(i == 0 ? item.Foreword ?? item.GetForewordFromHtml(600) : item.Foreword ?? item.GetForewordFromHtml(300)))
                    </div>
                    @if (i == 0)
                    {
                        <div class="home-material__read-btn">
                            <br />
                            <a class="btn" href="@item.GetUrl(Url)">Подробнее</a>
                        </div>
                        <div class="home-material__meta">
                            <div class="home-material__meta-left">
                                <ul class="list-unstyled list-inline">
                                    <li class="calendar">
                                        <i class="fa fa-calendar-o"></i> @item.DateOfPublication.ToString("MMMM d, yyyy")
                                    </li>
                                    <li>
                                        <i class="fa fa-comments-o"></i> Комментариев: @item.CommentsCount
                                    </li>
                                </ul>
                            </div>
                            <div class="home-material__meta-right">
                                share buttons
                            </div>
                        </div>
                    }
                </div>
                @if (i != 0 && i != Model.Length - 1)
                {
                    <hr />
                }
            </div>
        }
    </div>
}
