@model VMMaterial[]
@{
    VMMaterial item = null;
}

@if (Model.Any())
{
    <aside class="last-materials">
        <h4 class="green-header"><span class="green-header__arrow">Последние материалы</span></h4>
        <br />
        <ul class="last-materials__list">
            @for (int i = 0; i < Model.Length; i++)
            {
                item = Model[i];
                <li class="last-materials__item">
                    <div class="last-materials__item-img" style="background-image:url('@Url.Action("Picture","Pictures", new { id=item.FrontPictureId})')">
                        <a href="@item.GetUrl(Url)"></a>
                    </div>
                    <div class="last-materials__item-content">
                        <h4 class="last-materials__item-title">
                            <a href="@item.GetUrl(Url)">@item.Title</a>
                        </h4>
                        <div class="last-materials__item-date">@item.DateOfPublication.ToString("MMMM d, yyyy")</div>
                    </div>
                    <hr />
                </li>
            }
        </ul>
        <br />
    </aside>
}