@model int[]
@{
    Layout = null;
    var message = TempData["UserInfoMessage"];
}

@if (message != null)
{
    <h3 class="text-warning">Подписки на отчеты <span class="pull-right small" id="mes-user-info">@message</span></h3>
}
else
{
    <h3 class="text-warning">Подписки на отчеты</h3>
}

@using (Ajax.BeginForm("EditUserReport", new { controller="users"}, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "subscription", OnComplete = "removeMessage('#mes-user-info')" }, new { @autocomplete="off"}))
{
    @Html.AntiForgeryToken()
    <table class="table table-striped table-condensed">
        <tbody>
            <tr>
                <td style="width:0;">
                    <input type="checkbox" name="reportsId" value="1" @(Model.Contains(1)? "checked":null) />
                </td>
                <td>Статистика запросов</td>
            </tr>
            <tr>
                <td style="width:0;">
                    <input type="checkbox" name="reportsId" value="2" @(Model.Contains(2)? "checked":null)  />
                </td>
                <td>Новые материалы</td>
            </tr>
            <tr>
                <td style="width:0;">
                    <input type="checkbox" name="reportsId" value="3" @(Model.Contains(3)? "checked":null)  />
                </td>
                <td>Баннеры</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
}
